<%- include('head'); -%>

<main>

  <div class="container">
    <div class="d-flex justify-content-between align-items-end">
      <h1 class="my-3">Editar Disciplina</h1> <a href="/disciplinas" class="btn btn-warning">Voltar</a>      </div>

    <form action="/disciplinas/editar/<%= dados._id %>" method="post">
      <div class="mb-3">
        <label class="form-label" for="nome">Nome da Disciplina</label>
        <input class="form-control" type="text" name="nome" id="nome" value="<%= dados.nome %>" required>
      </div>

      <div class="mb-3">
        <label class="form-label" for="cargahoraria">Carga Horária</label>
        <input class="form-control" type="text" name="cargahoraria" id="cargahoraria" value="<%= dados.cargahoraria %>" required>
      </div>
      <button class="btn btn-success" type="submit">Cadastrar</button>
    </form>

  </div>
</main>

<%- include('foot'); -%>